/**
 * Celtic Database - SQL Database manager for Joomla!
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307,USA.
 *
 * The "GNU General Public License" (GPL) is available at
 * http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
 *
 * @package     Celtic\SqlManager
 * @author      Niels Braczek <nbraczek@bsds.de>
 * @copyright   Copyright (C) 2013 BSDS Braczek Software- und DatenSysteme. All rights reserved.
 */

body.com_sql header h1 {
    background: url(../images/icon-32-sql.png) no-repeat scroll left center transparent;
    padding-left: 40px;
}

.icon-48-sql {
    background-image: url(../images/icon-48-sql.png);
}

.icon-32-sql {
    background-image: url(../images/icon-32-sql.png);
}

.icon-16-sql {
    background-image: url(../images/icon-16-sql.png);
}

.icon-32-run {
    background-image: url(../images/icon-32-run.png);
}

.icon-16-run {
    background-image: url(../images/icon-16-run.png);
}

.icon-run:before {
    font-family: Arial;
    content: "►";
}

.icon-32-export {
    background-image: url(../images/icon-32-export.png);
}

.icon-16-export {
    background-image: url(../images/icon-16-export.png);
}

.icon-export:before {
    content: "\e021";
}

.query-result {
    width: 100%;
    overflow-x: auto;
}

.query-result table.adminlist tbody tr td .limited {
    max-width: 30em;
    max-height: 4em;
    overflow: hidden;
    text-overflow: ellipsis;
}